<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>funan</Title>
    <Author>Thyiad</Author>
    <Shortcut>funan</Shortcut>
    <Description>匿名自执行函数</Description>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
      <SnippetType>SurroundsWith</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Code Language="JavaScript"><![CDATA[(function(){
	$end$
})();]]></Code>
  </Snippet>
</CodeSnippet>
